apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ dc.metadata.name }}
  namespace: {{ namespace }}
  labels:
    {% for key, value in prepared_labels.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
    {% for label in custom_labels %}
    {{ label }}: {{ dc.metadata.labels[label] | default('') }}
    {% endfor %}
  annotations:
    {% for key, value in prepared_annotations.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
    {% for annotation in custom_annotations %}
    {{ annotation }}: {{ dc.metadata.annotations[annotation] | default('') }}
    {% endfor %}
    openshift.io/generated-by: "deploymentconfig-to-deployment-migration"
    openshift.io/migration-timestamp: "{{ timestamp }}"
spec:
  replicas: {{ dc.spec.replicas }}
  selector:
    matchLabels:
      {% for key, value in dc.spec.selector | default({}) | dictsort %}
      {{ key }}: {{ value }}
      {% endfor %}
  template:
    metadata:
      labels:
        {% for key, value in dc.spec.template.metadata.labels | default({}) | dictsort %}
        {{ key }}: {{ value }}
        {% endfor %}
    spec:
      containers:
      {% for container in dc.spec.template.spec.containers %}
      - name: {{ container.name }}
        image: {{ container.image }}
        {% if container.ports is defined and container.ports %}
        ports:
        {% for port in container.ports %}
        - containerPort: {{ port.containerPort }}
          {% if port.protocol is defined %}
          protocol: {{ port.protocol }}
          {% endif %}
        {% endfor %}
        {% endif %}
        {% if container.env is defined and container.env %}
        env:
        {% for env in container.env %}
        - name: {{ env.name }}
          value: "{{ env.value }}"
        {% endfor %}
        {% endif %}
      {% endfor %}